   

    <div class="container-xxl bg-white p-0">
        <div class="container-fluid text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Address<span></span></p>
                        <p><i class="fa fa-map-marker-alt me-3"></i>Technopole de Sousse</p>
                        <p><i class="fa fa-phone-alt me-3"></i>36 015 051</p>
                        <p><i class="fa fa-fax me-3"></i>36 015 050</p>

                        <p><i class="fa fa-envelope me-3"></i>contact@proxym-group.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Liens Rapides<span></span></p>
                        <a class="btn btn-link" routerLink="/">Acceuil</a>
                        <a class="btn btn-link" routerLink="/about">À Propos</a> 
                        <a class="btn btn-link" routerLink="/service">Services</a>
                        <a class="btn btn-link" routerLink="/contact">Contact</a>
                      
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Gallery<span></span></p>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/images/portfolio-1.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/images/portfolio-2.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/images/portfolio-3.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/images/portfolio-4.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/images/portfolio-5.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/images/portfolio-6.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        
        </div>
</div>