<div class="container-xxl bg-white p-0">
    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl py-5 bg-primary hero-header">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">
                    <div class="col-12 text-center">
                        <h1 class="text-white animated slideInDown">À Propos</h1>
                        <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->



    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <h1 class="text-center mb-5"> Filiales Editrices De Logiciels
        </h1>
        <div class="container py-5 px-lg-5">


            <div class="row g-4">
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item bg-light rounded text-center p-4">
                        <i class="fa fa-3x fa-building-columns text-primary mb-4"></i>
                        <h5 class="mb-3">Digital Omnichannel Banking - Bankerise®</h5>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="feature-item bg-light rounded text-center p-4">
                        <i class="fa fa-3x fa-car text-primary mb-4"></i>
                        <h5 class="mb-3">Fleet Management - Naviacom®</h5>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded text-center p-4">
                        <i class="fa fa-3x fa-cash-register text-primary mb-4"></i>
                        <h5 class="mb-3">Retail et Distribution - Valomnia®</h5>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded text-center p-4">
                        <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                        <h5 class="mb-3">Smart Home - Chifco®</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Facts Start -->
    <div class="container-xxl bg-primary fact py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-certificate fa-3x  mb-3 item"></i>
                    <h1 class="text-white mb-2" data-toggle="counter-up">17</h1>
                    <p class="text-white mb-0">Ans d'Experience</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-3x  mb-3 item"></i>
                    <h1 class="text-white mb-2" data-toggle="counter-up">+ 200</h1>
                    <p class="text-white mb-0">ingénieurs
                        logiciels mobiles</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-3x item mb-3"></i>
                    <h1 class="text-white mb-2" data-toggle="counter-up">+ 100</h1>
                    <p class="text-white mb-0">partenaires commerciaux</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-check fa-3x item mb-3"></i>
                    <h1 class="text-white mb-2" data-toggle="counter-up">+ 600</h1>
                    <p class="text-white mb-0">Projets Terminés</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
</div>
<app-footer></app-footer>